
  .news-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin: 48px auto;
    width: 20rem;
    a {
      color: #4d4dff;
      text-decoration: none;
      transition: 0.25s ease;
      &:hover {
        border-color: #ff4d4d;
        color: #ff4d4d;
      }
    }
  }
    
  .news-card-header {
    border-radius: 5px 5px 0 0;
    min-height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
    color: #fff;
  }
  
  .news-card-header--no-cover {
    background: #4d4d4d;
    height: auto;
    box-shadow: none;
  }
  
  .news-card-author, .news-card-author--no-cover, .news-card-source, .news-card-source--no-cover {
    margin: 0 auto;
    padding-top: 0.125rem;
    width: 80%;
  }
  
  .news-card-body {
    margin: 0 auto;
    width: 80%;
  }
  
  .news-card-published {
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0.5rem;
  }
  
  .news-card-body p {
    color: #4d4d4d;
  }