body {
    background: #aee6f2;
    box-sizing: border-box;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
  }
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.results {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;
  
}

.filter {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    background: #fff;
    border-radius: 5px;
}

.sources-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    justify-content: space-around;
    min-height: 5rem;
    max-height: 40rem;
    overflow-y: auto;
    padding: 10px 0;
}
.source-item {
    padding: 5px;
    border: rgb(88, 88, 88) 1px solid;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
}
.sources-checked-list {
  padding: 10px 0;
}
.source-checked {
  display: inline-block;
    margin: 0 5px;
    padding: 10px 5px;
    position: relative;
    background-color: aliceblue;
}
.delete-btn {
    color: aliceblue;
    padding: 1px 5px;
    background-color: slategray;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
.checked {
   border-color: #13a9e3;
   border-width: 3px;

}
.source-checked-name {
    font-weight: 500;
}
.hidden {
    display: none;
}
.language-filter {
  margin-bottom: 10px;
}

.news-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    margin: 48px auto;
    width: 20rem;
  }
 /* @media screen and (min-width: 480px) {
    .news-card {
      width: 28rem;
    }
  }
  @media screen and (min-width: 767px) {
    .news-card {
      width: 40rem;
    }
  }
  @media screen and (min-width: 959px) {
    .news-card {
      width: 50rem;
    }
  }*/
  
.news-card a {
    color: #4d4dff;
    text-decoration: none;
    transition: 0.25s ease;
  }
.news-card a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
  }
  
.news-card-header {
    border-radius: 5px 5px 0 0;
    min-height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
    color: #fff;
  }

.news-card-header--no-cover {
  background: #4d4d4d;
  height: auto;
  box-shadow: none;
}
.news-card-author,
.news-card-author--no-cover {
  margin: 0 auto;
  padding-top: 0.125rem;
  width: 80%;
}

.news-card-source,
.news-card-source--no-cover {
  margin: 0 auto;
  padding-top: 0.125rem;
  width: 80%;
}

.news-card-body {
    margin: 0 auto;
    width: 80%;
  }

.news-card-published {
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 0.5rem;
  }

.news-card-body p {
    color: #4d4d4d;
}

/*modal*/
/**
 * Variables
 */
 
 .button {
   background-color: #0D52E9;
   position: relative;
   color: #fff;
   border: none;
   padding: 0.7em 1.5em;
   font-size: 0.75em;
   letter-spacing: 1px;
   text-transform: uppercase;
   cursor: pointer;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
 }
 .button:hover {
   background: #0c4ddb;
 }
 .button:focus {
   outline: none;
 }
 
 /**
  * Overlay
  * -- only show for tablet and up
  */
 @media only screen and (min-width: 40em) {
   .modal-overlay {
     display: flex;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 5;
     background-color: rgba(0, 0, 0, 0.6);
     opacity: 0;
     visibility: hidden;
     -webkit-backface-visibility: hidden;
             backface-visibility: hidden;
     transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   }
   .modal-overlay.active {
     opacity: 1;
     visibility: visible;
   }
 }
 /**
  * Modal
  */
 .modal {
   align-items: center;
   justify-content: center;
   position: relative;
   background-color: #fff;
   width: 600px;
   max-width: 75rem;
   max-height:70rem;
   padding: 1rem;
   border-radius: 3px;
   opacity: 0;
   overflow-y: auto;
   visibility: hidden;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-transform: scale(1.2);
           transform: scale(1.2);
   transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
 }
 .modal .close-modal {
   position: absolute;
   cursor: pointer;
   top: 5px;
   right: 15px;
   opacity: 0;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition-delay: 0.3s;
 }
 .modal .close-modal svg {
   width: 1.75em;
   height: 1.75em;
 }
 .modal .modal-content {
   opacity: 0;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
   transition-delay: 0.3s;
 }
 .modal.active {
   visibility: visible;
   opacity: 1;
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 .modal.active .modal-content {
   opacity: 1;
 }
 .modal.active .close-modal {
   -webkit-transform: translateY(10px);
           transform: translateY(10px);
   opacity: 1;
 }
 
 /**
  * Mobile styling
  */
 @media only screen and (max-width: 39.9375em) {
   h1 {
     font-size: 1.5rem;
   }
 
   .modal {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     -webkit-overflow-scrolling: touch;
     border-radius: 0;
     -webkit-transform: scale(1.1);
             transform: scale(1.1);
     padding: 0 !important;
   }
 
   .close-modal {
     right: 20px !important;
   }
 }
 
 .modal-footer {
   text-align: center;
 }




 /* Absolute Center Spinner */


.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.show-mask {
  display: block;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}